* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

img {
    width: 100%;
    display: block;
}

.header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    background: #222222;
}

.nav_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link_additional {
    width: 111px;
    height: 38px;
    margin-top: 18px;
    margin-bottom: 19px;
}

.nav_link_main {
    width: 159px;
    height: 29px;
    margin-top: 26px;
    margin-bottom: 20px;
}

.lable_icon {
    width: 44px;
}

.search_icon {
    width: 26px;
}

.menu_icon {
    width: 32px;
}

.person_icon {
    width: 29px;
}

.cart_icon {
    width: 32px;
}

.top {
    background: #F1E4E6;
    max-height: 764px;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.top_item1 {
    display: flex;
}

.top_item2 {
    display: flex;
    justify-content: start;
    padding-top: 290px;
    padding-left: 63px;
}

.top_lable {
    min-width: 420px;
    height: 93px;
    display: grid;
    grid-template-columns: 12px 1fr;
    grid-template-rows: 1fr 1fr;
}

.big_line {
    grid-column: 1;
    grid-row: 1/span 2;
    background: #F16D7F;
    border: black solid 1px;
}

.top_title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    padding-left: 16px;
}

.top_subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
    display: flex;
    padding-left: 16px;
}

.text_ping {
    color: #F16D7F;
}

.items_box {
    margin-bottom: 61px;
}

.catalog {
    margin-top: 65px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
}

.catalog_box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.catalog_item {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.catalog_text_box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog_title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.catalog_subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_item {
    background: #F8F8F8;
}

.products_title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-bottom: 6px;
}

.products_subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}

.products_box {
    margin-top: 48px;
    margin-bottom: 48px;
    display: grid;
    grid-template-rows: 581px 581px;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.product_text_box {
    margin-top: 25px;
    margin-bottom: 24px;
}

.product_title {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.product_text {
    margin-top: 16px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.product_price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.product_button {
    margin-bottom: 60px;
    border: #FF6A6A solid 1px;
    width: 212px;
    height: 48px;
    display: flex;
    align-items: center;
}

.product_button_text {
    padding: 15px 37px 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1140px) {
    .nav_link_additional {
        margin-left: 32px;
    }
    .nav_link_main {
        margin-right: 32px;
    }
    .top_item2 {
        display: flex;
        align-items: center;
        padding-left: 39px;
        padding-top: 0;
    }
    .top_title {
        font-size: 44px;
        line-height: 53px;
    }
    .top_subtitle {
        font-size: 24px;
        line-height: 29px;
    }
    .catalog {
        margin-bottom: 110px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .catalog_box {
        gap: 20px;
        margin-bottom: 20px;
    }
    .products_box {
        margin-top: 73px;
        margin-bottom: 33px;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }
    .product_button {
        margin-bottom: 71px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header {
        height: 74px;
    }
    .person_icon {
        display: none;
    }
    .cart_icon {
        display: none;
    }
    .nav_link_additional {
        margin-left: 16px;
    }
    .nav_link_main {
        width: 32px;
        height: 23px;
        margin: 25px 16px 26px;
    }
    .top {
        width: 100vw;
        height: 363px;
        justify-content: center;
    }
    .top_item1 {
        display: none;
    }
    .top_item2 {
        display: flex;
        align-items: center;
        padding: 0;
    }
    .top_lable {
        min-width: 0;
        height: 61px;
        display: grid;
        grid-template-columns: 12px 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .big_line {
        grid-column: 1;
        grid-row: 1/span 2;
        background: #F16D7F;
        border: black solid 1px;
        margin: 4.5px 0;
    }
    .top_title {
        font-style: normal;
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
        color: #222222;
        padding-left: 15px;
    }
    .top_subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #222222;
        display: flex;
        padding-left: 15px;
    }
    .catalog {
        margin: 64px 16px;
        display: flex;
    }
    .catalog_box {
        gap: 32px;
        margin-bottom: 32px;
        flex-direction: column;
    }
    .products_box {
        margin-top: 65px;
        margin-bottom: 41px;
        margin-left: 8px;
        margin-right: 8px;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        gap: 16px;
    }
    .product_text_box {
        margin-bottom: 20px;
    }
    .product_text {
        margin-top: 13px;
        margin-bottom: 18px;
    }
    .catalog_img {
        height: 111px;
        object-fit: cover;
    }
    .product_button {
        margin-bottom: 85px;
    }
}