* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 40px;
    background: #FFFFFF;
}

.header_container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    width: 533px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
}

.header_home_link {
    color: #F25822;
}

.header_menu_link {
    color: #000;
}

.top_content {
    margin-top: 84px;
    margin-bottom: 162px;
    background: #FFFFFF;
}

.top_info {
    margin-right: 41px;
}

.top_container {
    max-width: 1174px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}

.top_title {
    max-width: 522px;
    margin-bottom: 17px;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.top_text {
    max-width: 466px;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.top_img {
    max-width: 545px;
}

.top_buttons {
    margin-top: 37px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.button {
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medium_button {
    width: 140px;
    height: 50px;
}

.button_start {
    margin-right: 72px;
}

.button_text {
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 6px;
}

.button_watch {
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.top_logos {
    padding-top: 97px;
    padding-bottom: 96px;
    background: #FFFFFF;
}

.logos {
    max-width: 1236px;
    margin: 0 auto;
    padding-right: 33px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.solution {
    max-width: 1170px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.solution_item {
    height: 226px;
    width: 310px;
    min-width: 310px;
    flex-direction: column;
    justify-content: center;
}

.solution_item_shadow {
    height: 291px;
    width: 370px;
    min-width: 370px;
    padding: 40px 30px 25px;
    margin: 0 60px;
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solution_about {
    margin: 25px 0;
}

.item_title {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 17px;
}

.solution_text {
    font-size: 15px;
    line-height: 150%;
    color: #666666;
}

.more_link {
    font-size: 11px;
    line-height: 150%;
    font-weight: bold;
    color: #000000;
}

.solution_icon {
    width: 70px;
}

.about {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_description {
    min-height: 123px;
    max-width: 682px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_title {
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    margin-bottom: 19px;
}

.about_text {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666666;
}

.about_box {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 549px;
    gap: 30px;
}

.about_photo {
    height: 270px;
}

.item_description {
    margin-top: 25px;
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_text {
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #AAAAAA;
}

.about_item {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shadow {
    grid-column: 2;
    background: #FFFFFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.big_button {
    height: 50px;
    width: 150px;
}